h1 {
	color: blue;
	text-align: center;
}

div {

	margin: 20px;
}

table {

	border: 2px solid black;

	/*
	*To remove the double borders
	*/

	border-collapse: collapse; 

	width: 30%
}

th,td{

	border:1px solid black;
	padding: 10px;
	text-align:center;

}

th{
	background-color: lightgray;

}